.header {
  width: 100%;



  .wrapper {
    display: flex;
    justify-content: flex-start;

    .title {
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      color: #1A1718;
    }
  }
}